body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: black;
  font-weight: 500;
  font-family: sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.star__pic {
  padding: 30px;
  text-align: center;
  border: 1px solid black;
  width: 100%;
}
.star__img {
  background: url(../img/star0.png) no-repeat;
  width: 80px;
  height: 85px;
  display: inline-block;
}
.star__img:hover ~ .star__img:nth-child(-n+1), .star__img:hover ~ .star__img:nth-child(-n+2), .star__img:hover ~ .star__img:nth-child(-n+3), .star__img:hover ~ .star__img:nth-child(-n+4), .star__img:hover ~ .star__img:nth-child(-n+5), .star__img:hover ~ .star__img:nth-child(-n+6), .star__img:hover ~ .star__img:nth-child(-n+7), .star__img:hover ~ .star__img:nth-child(-n+8) {
  background: url(../img/star1.png) no-repeat;
  width: 80px;
  height: 85px;
}